<footer>

    <div class="first-panel">

        <div class="company-name">MNTN</div>
        <div class="desc">Get out there and discover your next slope, mountain and destination!</div>
        <div class="copy-rights">Copyright 2019 MNTN, Inc. Terms and Privacy</div>
    
    </div>

    <div class="second-panel">
        <div class="panel-title">More on The Blog</div>
        <div class="panel-element">About MNTN</div>
        <div class="panel-element">Contributors and Writters</div>
        <div class="panel-element">Write For Us</div>
        <div class="panel-element">Contact Us</div>
        <div class="panel-element">Privacy Policy</div>


    </div>

    <div class="second-panel">
        <div class="panel-title">More on MNTN</div>
        <div class="panel-element">The Team</div>
        <div class="panel-element">Jobs</div>
        <div class="panel-element">Press</div>


    </div>




</footer>
